/* About-us */
.couple-wrap {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 768px) {
  .couple-wrap {
    width: 100%;
  }
}

.couple-wrap h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

.couple-wrap .groom-wrap {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .couple-wrap .groom-wrap {
    margin-bottom: 0;
    padding-right: 30px;
  }
}

@media (min-width: 768px) {
  .couple-wrap .bride-wrap {
    padding-left: 30px;
  }
}

.heart {
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;
  z-index: 99;
  display: none;
}

.heart i {
  font-size: 20px;
  padding: 20px;
  color: var(--primary);
  animation: pulse 1s ease infinite;
}

@media (min-width: 1024px) {
  .heart {
    display: block;
  }
}

.groom,
.bride {
  width: 150px;
  height: 150px;
  margin: 0 auto 10px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .groom,
  .bride {
    float: left;
  }
}

.groom img,
.bride img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .groom {
    float: right;
    margin-right: 5px;
  }
}

@media (min-width: 768px) {
  .bride {
    float: left;
    margin-left: 5px;
  }
}

.desc-groom {
  text-align: center;
}

@media (min-width: 768px) {
  .desc-groom {
    padding-right: 180px;
    text-align: right;
  }
}

.desc-bride {
  text-align: center;
}

@media (min-width: 768px) {
  .desc-bride {
    padding-left: 180px;
    text-align: left;
  }
}
