.cover {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://html.fairytheme.net/belle/images/header-bg.jpg");
  position: relative;
  width: 100%;
}

.cover .container {
  position: relative;
  z-index: 10;
}

.cover .display-tc {
  opacity: 0;
}

.banner_top {
  background-image: url("https://html.fairytheme.net/belle/images/header-bg.jpg");
}

.banner_bottom {
  padding: 10em 0 3em;
  background-image: url("https://html.fairytheme.net/belle/images/banner-bottom.jpg");
}

.banner_bottom h2 {
  margin: 0;
  font-family: var(--heading-font);
  font-size: 60px;
  color: white;
}

.banner_bottom a {
  color: white;
}

.banner_bottom .heading {
  margin-bottom: 0;
}

.banner_bottom .copyright {
  margin-top: 7em;
}

.banner-text {
  color: white;
}

.banner-text_names {
  font-family: var(--heading-font);
  font-size: 40px;
  line-height: 43px;
  position: relative;
}

.banner-text_names::before,
.banner-text_names::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  background-color: white;
}

.banner-text_names::before {
  left: -1px;
}

.banner-text_names::after {
  right: -1px;
}

.banner-text span {
  padding: 0 15px;
}

.banner h1,
.banner h2 {
  margin-bottom: 20px;
  color: white;
  font-family: var(--heading-font);
  font-size: 60px;
}

.banner p {
  color: white;
  margin-bottom: 0;
}
