.blog-item {
  margin-bottom: 50px;
}

.blog-item_texst p {
  margin-bottom: 5px;
}

.blog-item_title {
  margin-top: 30px;
  margin-bottom: 12px;
  font-size: 20px;
}

.blog-item_title a {
  color: black;
  text-decoration: none;
}

.blog-item_meta {
  margin-bottom: 7px;
  font-size: 0.85em;
}

.blog-item_meta span {
  padding-right: 5px;
}

.blog-item_meta span i {
  padding-right: 3px;
}

/* Single post */
.single-post_banner {
  margin-bottom: 40px;
}

.single-post_title {
  margin-bottom: 40px;
  font-family: var(--heading-font);
}

.post-content blockquote {
  text-align: center;
  border: none;
  font-style: italic;
  font-weight: 600;
}

.post-content blockquote::before,
.post-content blockquote::after {
  content: '"';
}

.post-hightlight {
  border: 4px solid var(--brand-lighter);
  padding: 30px;
  margin: 10px 0 20px;
  font-size: 20px;
  font-weight: 600;
}

@media (min-width: 992px) {
  .post-hightlight {
    width: 33%;
    margin-left: 20px;
    float: right;
  }
}

.post-hightlight::before {
  content: "HIGHLIGHT";
  display: block;
  font-size: 14px;
  font-weight: 300;
}

.post-tags a {
  padding: 0 5px;
}

/* Widget Latest posts */
.widget {
  margin-bottom: 50px;
}

.widget_title {
  margin-bottom: 20px;
  font-family: var(--heading-font);
}

.widget_latest-posts .post {
  display: flex;
  margin-bottom: 20px;
}

.widget_latest-posts .post_image {
  margin-right: 20px;
}

.widget_categories ul {
  list-style: none;
  padding-left: 0;
}

.widget_categories li {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.widget_categories a {
  color: inherit;
}

.widget_categories span {
  float: right;
}

.widget:last-child {
  margin-bottom: 0;
}

.widget a {
  text-decoration: none;
  color: black;
}
