/* Gallery */
.gallery-list {
  position: relative;
}

.gallery-list_item {
  padding: 0 5px;
  margin: 0 0 10px 0;
  list-style: none;
  min-height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 7px;
}

.gallery-list_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
  position: absolute;
  top: 0;
  left: 0;
}

.gallery-list_item a {
  min-height: 400px;
  padding: 2em;
  position: relative;
  width: 100%;
  display: block;
}

.gallery-list_item a::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: 80;
  transition: all 0.5s ease;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.2);
}

.gallery-list_item a:hover .gallery-item_info span,
.gallery-list_item a:hover .gallery-item_info h3 {
  transform: translateY(0);
  opacity: 1;
}

.gallery-list_item a:hover::before {
  background: rgba(0, 0, 0, 0.5);
}

.gallery-item_info {
  width: auto;
  bottom: 1em;
  left: 1em;
  right: 1em;
  position: absolute;
  z-index: 100;
}

@media (min-width: 768px) {
  .gallery-item_info {
    bottom: 2em;
    left: 2em;
    right: 2em;
  }
}

.gallery-item_info span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  transform: translateY(100%);
  transition: all 0.5s ease;
  opacity: 0;
}

.gallery-item_info h3 {
  color: white;
  margin-bottom: 0;
  transform: translateY(-30%);
  transition: all 0.5s ease;
  font-size: 20px;
}

.gallery .grid--margin {
  margin-bottom: 50px;
}

.gallery .grid-item {
  border: 10px solid rgba(0, 0, 0, 0);
}

.gallery .grid-item--width2 {
  width: 100%;
}

@media (min-width: 768px) {
  .gallery .grid-item--width2 {
    width: 50%;
  }
}

.gallery .grid-item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 80;
  transition: all 0.5s ease;
  background: rgba(51, 51, 51, 0);
}

.gallery .grid-item a:hover::before {
  background: rgba(51, 51, 51, 0.2);
}

.gallery .grid-item,
.gallery .grid-sizer {
  width: 100%;
}

@media (min-width: 768px) {
  .gallery .grid-item,
  .gallery .grid-sizer {
    width: 25%;
  }
}

.filters-button-group {
  text-align: center;
  border-bottom: 1px solid;
  margin: 0 10px 50px;
}

.filters-button-group .button {
  border: none;
  background: none;
  padding: 0 10px 10px;
  border-bottom: 2px solid transparent;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
}

.filters-button-group .is-checked {
  border-bottom: 2px solid var(--primary);
}
