.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}

.navbar.fixed-top {
  position: fixed;
  background-color: white;
  border-bottom: 1px solid var(--gray-400);
}

.navbar.fixed-top .navbar-brand {
  color: black;
}

.navbar.fixed-top .navbar-toggler {
  color: black;
}

.navbar.fixed-top .nav-link {
  color: black;
}

.navbar.fixed-top .nav-link.active {
  color: black;
}

.navbar.fixed-top .nav-link.active::after {
  background: black;
}

.navbar-brand {
  color: white;
  font-family: var(--heading-font);
}

.navbar .offcanvas-title {
  font-size: 28px;
  font-family: var(--heading-font);
}

.navbar .nav-link {
  position: relative;
}

.navbar .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transition: all 0.5s ease;
  transform: translateY(0);
  opacity: 1;
}

.navbar .navbar-toggler {
  color: white;
  border: none;
}

.navbar .navbar-toggler:active,
.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar .dropdown-menu {
  top: 52px;
}

/* Media Queries at the Bottom */
@media (min-width: 768px) {
  .navbar .nav-link {
    color: white;
  }

  .navbar .nav-link.active {
    color: white;
  }
}

@media (min-width: 1024px) {
  .navbar .nav-link.active::after {
    background: white;
  }
}
