/* Timeline */
.timeline {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}

.timeline::before {
  content: " ";
  top: 50px;
  bottom: 0;
  position: absolute;
  width: 1px;
  height: 65%;
  background-color: var(--brand-gray);
  left: 30px;
}

.timeline-badge {
  left: 0;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 16px;
  z-index: 100;
}

.timeline-badge img {
  border-radius: 50%;
}

.timeline-panel {
  width: 75%;
  float: right;
  border: 1px solid var(--brand-gray);
  padding: 30px;
  position: relative;
  border-radius: 4px;
}

.timeline-panel::before {
  content: " ";
  left: -15px;
  right: auto;
  position: absolute;
  top: 30px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 0 solid #ccc;
  border-right: 15px solid #ccc;
  border-bottom: 15px solid transparent;
}

.timeline-panel::after {
  content: " ";
  left: -14px;
  right: auto;
  position: absolute;
  top: 31px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 0 solid #ffffff;
  border-right: 14px solid #ffffff;
  border-bottom: 14px solid transparent;
}

.timeline-title {
  margin-top: 0;
  font-size: 24px;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

.timeline-item {
  opacity: 0;
}

.timeline-item:nth-child(2n) .timeline-panel {
  float: right;
}

.timeline-readmore {
  display: inline-block;
  margin-top: 5px;
  color: black;
  text-decoration: underline;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline > li::before,
.timeline > li::after {
  content: " ";
  display: table;
}

.timeline > li::after {
  clear: both;
}

.date {
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-gray .timeline .timeline-panel::after {
  border-left-color: var(--brand-lighter);
  border-right-color: var(--brand-lighter);
}

/* Media Queries */
@media (min-width: 576px) {
  .timeline::before {
    left: 80px;
  }

  .timeline-badge {
    width: 160px;
    height: 160px;
  }

  .timeline-panel {
    width: calc(100% - 200px);
  }

  .timeline-panel::before {
    top: 80px;
  }

  .timeline-panel::after {
    top: 81px;
  }
}

@media (min-width: 992px) {
  .timeline::before {
    left: 50%;
  }

  .timeline-panel {
    width: 38%;
    float: left;
  }

  .timeline-badge {
    left: 50%;
    margin-left: -80px;
  }

  .timeline-panel::before {
    right: -15px;
    left: auto;
    border-right-width: 0;
    border-left-width: 15px;
  }

  .timeline-panel::after {
    right: -14px;
    left: auto;
    border-left-width: 14px;
    border-right-width: 0;
  }
}
